let question_row_html += '<div class="question-row-container row-clone-selector" id="question-main-row-1">';
question_row_html += '    <input type="hidden" name="question_repeater[]"/>';
question_row_html += '    <div class="row question-input-area-container">';
question_row_html += '        <div class="col-10">';
question_row_html += '            <p class="admin-question-row-label">Sub Question #1</p>';
question_row_html += '            <input class="form-field question-admin-title form-control" name="question_title[1][1][sub_title]" placeholder="Sub Question Title"/>';
question_row_html += '            <div class="admin-question-row-textarea">';
question_row_html += '                <textarea class="form-control description_area" name="question_description[]" placeholder="Sub Question Description"></textarea>';
question_row_html += '                <div class="col-12">';
question_row_html += '                    <div class="question-rule-checkbox-inner-container">';
question_row_html += '                        <label>Requires a custom answer.. </label>';
question_row_html += '                        <input type="checkbox" class="question-rule-description-checkbox"/>';
question_row_html += '                        <input type="hidden" class="question-rule-description-checkbox-input" name="is_question_description[]"/>';
question_row_html += '                    </div>';
question_row_html += '                </div>';
question_row_html += '            </div>';
question_row_html += '            <div class="question-advice-row-container">';
question_row_html += '                <label for="question-advice-row-0">Advice</label>';
question_row_html += '                <textarea id="question-advice-row-0" class="form-control" name="question_advice[]"></textarea>';
question_row_html += '            </div>';
question_row_html += '        </div>';
question_row_html += '        <div class="col-2 question-row-points-container">';
question_row_html += '            <label for="question_point[]"><strong>Question Point</strong></label>';
question_row_html += '            <input type="number" class="question-point-input" name="question_point[]"/>';
question_row_html += '            <div class="question-points-actions-container">';
question_row_html += '                <div class="increment-question-point" aria-hidden="true">';
question_row_html += '                    <i class="fa fa-plus"></i>';
question_row_html += '                </div>';
question_row_html += '                <div class="decrement-question-point" aria-hidden="true">';
question_row_html += '                    <i class="fa fa-minus"></i>';
question_row_html += '                </div>';
question_row_html += '            </div>';
question_row_html += '        </div>';
question_row_html += '    </div>';
question_row_html += '    <div class="row question-other-info-container">';
question_row_html += '        <div class="col-12">';
question_row_html += '            <strong class="checkbox-label-heading">Rules:</strong>';
question_row_html += '            <div class="question-rule-checkbox-inner-container">';
question_row_html += '                <label>Supporting documentation required.. </label>';
question_row_html += '                <input type="checkbox" class="question-rule-checkbox"/>';
question_row_html += '                <input type="hidden" class="question-rule-checkbox-input" name="is_question_supporting[]"/>';
question_row_html += '            </div>';
question_row_html += '        </div>';
question_row_html += '        <div class="col-12 multi-choice-btn-container">';
question_row_html += '            <button class="button add-multi-choice-btn" type="button">Add multi choice button</button>';
question_row_html += '            <div class="multi-choice-btn-table-container">';
question_row_html += '                <table>';
question_row_html += '                    <tbody>';
question_row_html += '                    <tr class="empty-row multi-choice-list-item" style="display: none">';
question_row_html += '                        <td><input type="text"/></td>';
question_row_html += '                        <td><input type="checkbox"/></td>';
question_row_html += '                        <td><a class="button remove-row" href="#">Remove</a></td>';
question_row_html += '                    </tr>';
question_row_html += '                    </tbody>';
question_row_html += '                </table>';
question_row_html += '            </div>';
$question_row_html += '        </div>';
$question_row_html += '    </div>';
$question_row_html += '</div>';

let group_question_html = '    <div class="group-question-wrapper" id="question-group-row-" data-id="">';
    group_question_html += '        <div class="row">';
    group_question_html += '            <div class="col-10">';
    group_question_html += '                <h5 class="admin-question-group-label">Question #1</h5>';
    group_question_html += '                <input class="form-field question-admin-title form-control" name="group_question_title[]" placeholder="Question Title"/>';
    group_question_html += '            </div>';
    group_question_html += '            <div class="col-2 question-row-points-container">';
    group_question_html += '                <label for="question_point[]"><strong>Question Point</strong></label>';
    group_question_html += '                <input type="number" class="question-point-input" name="group_question_point[]"/>';
    group_question_html += '                <div class="question-points-actions-container">';
    group_question_html += '                    <div class="increment-question-point" aria-hidden="true">';
    group_question_html += '                        <i class="fa fa-plus"></i>';
    group_question_html += '                    </div>';
    group_question_html += '                    <div class="decrement-question-point" aria-hidden="true">';
    group_question_html += '                        <i class="fa fa-minus"></i>';
    group_question_html += '                    </div>';
    group_question_html += '                </div>';
    group_question_html += '            </div>';
    group_question_html += '        </div>';
    group_question_html += '        <div class="question-field-container"></div>';
    group_question_html += '        <!-- Button add more sub questions -->';
    group_question_html += '        <p><span class="add-row button button-primary">Add Sub Questions</span></p>';
    group_question_html += '    </div>';


    <div class="simple-question-container question-row-container" id="question-main-row-">
        <input type="hidden" name="question_repeater[]"/>
        <div class="row question-input-area-container">
            <div class="col-10">
                <p class="admin-question-row-label">Question </p>
                <input class="form-field question-admin-title form-control" name="question_title[]" placeholder="Question Title"/>
                <div class="admin-question-row-textarea">
                    <textarea class="form-control description_area" name="question_description[]" placeholder="Question Description"></textarea>
                    <div class="col-12">
                        <div class="question-rule-checkbox-inner-container">
                            <label>Requires a custom answer.. </label>
                            <input type="checkbox" class="question-rule-description-checkbox"/>
                            <input type="hidden" class="question-rule-description-checkbox-input" name="is_question_description[]"/>
                        </div>
                    </div>
                </div>
                <div class="question-advice-row-container">
                    <label for="question-advice-row-0">Advice</label>
                    <textarea id="question-advice-row-0" class="form-control" name="question_advice[]"></textarea>
                </div>
            </div>
            <div class="col-2 question-row-points-container">
                <p style="text-align: right;" ><span class="button btn-remove-question">Remove Question</span></p>
                <label for="question_point[]"><strong>Question Point</strong></label>
                <input type="number" class="question-point-input" name="question_point[]"/>
                <div class="question-points-actions-container">
                    <div class="increment-question-point" aria-hidden="true">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="decrement-question-point" aria-hidden="true">
                        <i class="fa fa-minus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row question-other-info-container">
            <div class="col-12">
                <strong class="checkbox-label-heading">Rules:</strong>
                <div class="question-rule-checkbox-inner-container">
                    <label>Supporting documentation required.. </label>
                    <input type="checkbox" class="question-rule-checkbox"/>
                    <input type="hidden" class="question-rule-checkbox-input" name="is_question_supporting[]"/>
                </div>
            </div>
            <div class="col-12 multi-choice-btn-container">
                <button class="button add-multi-choice-simple" type="button" data-id="'+rowCount+'">Add multi choice button</button>
                <div class="multi-choice-btn-table-container">
                    <table id="multi-check-table-'+rowCount+'">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


question_row_html += '<div class="row question-add-files-container">'
question_row_html += '    <div class="col-12">'
question_row_html += '        <div class="btn-add-files-wrapper">'
question_row_html += '            <label for="additional-files">'
question_row_html += '                <span class="button" role="button" aria-disabled="false">+ Add Additional Files</span>'
question_row_html += '            </label>'
question_row_html += '            <input id="additional-files"'
question_row_html += '                    class="additional-files"'
question_row_html += '                    type="file" '
question_row_html += '                    name="file[]" '
question_row_html += '                    style="visibility: hidden; position: absolute;" '
question_row_html += '                    multiple/>'
question_row_html += '            <input name="group_questions[<?php echo $parent_question_id; ?>][list][<?php echo $question_id; ?>][additional_files][1][file]" type="hidden" class="additional-file-id" value="" />'
question_row_html += '            <div class="uploading-wrapper">'
question_row_html += '                <img src="<?php echo WP_ASSESSMENT_FRONT_IMAGES; ?>/Spinner-0.7s-200px.svg" alt="uploading">'
question_row_html += '            </div>'
question_row_html += '        </div>'
question_row_html += '        <div class="files-area">'
question_row_html += '            <span class="filesList"></span>'
question_row_html += '        </div>'
question_row_html += '    </div>'
question_row_html += '</div>'


report_sections +='<div id="intro-section" class="_section">'
report_sections +='    <h3 class="_heading"></h3>'
report_sections +='    <textarea id="intro-section-wpeditor" name="report_sections[intro]" rows="12" class="report-section-wpeditor"></textarea>'
report_sections +='</div>'
report_sections +='<div id="outro-section" class="_section">'
report_sections +='    <h3 class="_heading"></h3>'
report_sections +='    <textarea id="outro-section-wpeditor" name="report_sections[outro]" rows="12" class="report-section-wpeditor"></textarea>'
report_sections +='</div>'
report_sections +='<div id="address-section" class="_section">'
report_sections +='    <h3 class="_heading"></h3>'
report_sections +='    <textarea id="address-section-wpeditor" name="report_sections[address]" rows="12" class="report-section-wpeditor"></textarea>'
report_sections +='</div>'
report_sections +='<div id="appendix-section" class="_section">'
report_sections +='    <h3 class="_heading"></h3>'
report_sections +='    <textarea id="appendix-section-wpeditor" name="report_sections[appendix]" rows="12" class="report-section-wpeditor"></textarea>'
report_sections +='</div>'

row_recom += '<div class="row row-recommendation">'
row_recom += '    <div class="key-title col-5">'
row_recom += '        <textarea class="form-control description_area" name="key_recommendation[2][key]"></textarea>'
row_recom += '    </div>'
row_recom += '    <div class="priorities-area col-7">'
row_recom += '        <textarea class="form-control description_area" name="key_recommendation[2][priority]"></textarea>'
row_recom += '    </div>'
row_recom += '</div>'