
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
textarea {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

body {
    position: relative;
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
}

/* Form Wrapper CSS Starts Here */
.formWrapper#assessment-login-wrapper, .formWrapper.not-allowed-access {
    padding-top: 50px;
}
.formWrapper {
    padding-bottom: 100px;
    font-size: 1.25rem;
    background-color: #faf9f9;
}
.formWrapper button:focus {
    outline: none!important;
    box-shadow: none!important;
    background-color: #ccc;
    border: 2px solid #333!important;
}
.formWrapper a.btn {
    font-size: 1.125rem;
    color: #fff;
    background-color: #A22F2C;
    border-radius: 20px;
    font-family: "Avenir-Medium";
    cursor: pointer;
}
.formWrapper .notificationBar {
    margin-bottom: 40px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 20px 30px;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.formWrapper .notificationBar.rejected {
    border-top: 3px solid #666;
    border-bottom: 1px solid #ddd;
}
.formWrapper .notificationBar.pending {
    border-left: 5px solid orange;
    text-align: center;
}
.formWrapper .notificationBar.pending h3 {
    margin-bottom: 10px;
}
.formWrapper .notificationBar.accepted {
    border-left: 5px solid green;
    text-align: center;
}
.formWrapper .notificationBar h2 {
    font-size: 1.75rem;
}
.notificationBar .remarks {
    text-transform: capitalize; 
    font-size: 1rem;
}
.notificationBar .accepted,
.notificationBar .criteria-satisfied {
    color: green;
}
.notificationBar .rejected,
.notificationBar .criteria-not-yet-satisfied {
    color: indianred;
}
.formWrapper .require-login {
    text-align: center;
}
.formWrapper .require-login > h3 {
    margin-bottom: 10px;
}
.formWrapper .require-login > a.btn {
    margin: 10px;
    padding: 6px 30px;
    min-width: 130px;
    transition: all 0.2s;
}
.formWrapper .require-login > a.btn:hover {
    opacity: 0.8;
}

.notificationBar .result {
    margin: 4px 0 14px;
}
.notificationBar .notifiDetails {
    margin-bottom: 16px;
    max-height: 460px;
    overflow-y: auto;
    border-bottom: 1px solid #eaeaea;
}
.notificationBar .notifiDetails h3 {
    font-size: 1.3rem;
}
.notificationBar .notifiDetails ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0 16px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #ececec;
}
.notificationBar .notifiDetails ul:last-child {
    margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
    .notificationBar .notifiDetails ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
.notificationBar .notifiDetails li {
    font-size: 1.125rem;
    margin-bottom: 10px;
    line-height: 130%;
}
.notificationBar .notifiDetails li span.crossIcon {
    color: red;
}
.notificationBar .notifiDetails li span.checkedIcon {
    color: green;
}

.topBar {
    margin-bottom: 40px;
}
.topBar.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar.flex .topbar-action {
    margin-top: 0;
}

.topBar h1 {
    font-size: 2.8rem;
    line-height: 120%;
    color: #3d3d3d;
}

.topbar-action {
    margin-top: 24px;
    display: flex;
    align-items: end;
    gap: 40px;
}

.submission-vers {
    position: relative;
    min-width: 364px;
}
.submission-vers > * {
    font-size: 1rem;
    font-family: "Avenir-Medium";
}
.submission-vers #btn-show-submission-vers {
    width: 100%;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem;
    gap: 8px;
    padding: 12px 16px 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.submission-vers #btn-show-submission-vers:focus {
    background: #fff;
    border: 1px solid #333 !important;
}
.submission-vers .submission-ver-current .icon {
    position: relative;
    right: -4px;
    color: #555;
    font-size: 15px;
}
.submission-vers .sub-vers-list{
    display: none;
    position: absolute;
    bottom: 2px;
    transform: translateY(100%);
    padding: 6px 0;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    z-index: 10;
    box-shadow: 0 2px 4px 0 #00000040;
}
.submission-vers .sub-vers-list .sub-ver-item {
    font-size: 1rem;
}
.submission-vers .sub-vers-list .sub-ver-item.current {
    background-color: #eeeeee;
}
.submission-vers .sub-vers-list .sub-ver-item:hover {
    background-color: #f1f1f1;
}
.submission-vers .sub-vers-list .sub-ver-item a {
    padding: 12px 16px;
    display: block;
    color: #6e297b;
    font-family: "Avenir-Medium";
    text-decoration: none!important;
}
.submission-vers .sub-vers-list .sub-ver-item a:focus {
    border: 1px solid #333 !important;
    box-shadow: none !important;
}

#toggle-invite-colleagues {
    display: flex;
    padding: 6px;
    white-space: nowrap;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: inherit;
    height: fit-content;
    font-size: 1.125rem;
    font-family: "Avenir-Medium";
    color: #663077;
}

#toggle-invite-colleagues:focus {
    background-color: inherit!important;
}

#toggle-invite-colleagues .material-icons {
    padding: 6px;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid #663077;
    color: #663077;
    font-size: 20px;
    transition: all 0.3s;
}

#toggle-invite-colleagues.active .material-icons {
    transform: rotate(90deg);
}

.topBar .progressBtn {
    position: relative;
    font-size: 1.125rem;
    line-height: 100%;
    color: #212529;
    border-radius: 8px;
    padding: 14px 40px;
    display: block;
    margin-left: auto;
    font-family: "Avenir-Medium";
    transition: all 0.3s;
    white-space: nowrap;
    border-color: #ccc;
    background-color: #dfdfdf;
}
.topBar .progressBtn:hover {
    background-color: #5f5f5f;
    color: #f1f1f1;
}
.progressBtn.loading {
    pointer-events: none !important;
}
.progressBtn.loading .text{
    opacity: 0;
}
.progressBtn.loading .wpa-spinner {
    display: block;
}

.invite-colleagues-wrapper {
    display: none;
    position: relative;
    margin-bottom: 30px;
    padding: 90px;
    background-color: #663077;
}

#btn-close-invite {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    right: 22px;
    top: 22px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.125rem;
    font-family: "Avenir-Medium";
}

#btn-close-invite .icon-close {
    margin-left: 8px;
    margin-bottom: 2px;
    display: flex;
    border: 1px solid #fff;
    width: fit-content;
    padding: 4px 7px;
    border-radius: 50%;
    font-size: 16px;
}

#form-invite-colleagues {
    margin: auto;
    width: fit-content;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: start;
    gap: 22px;
}

.invite-colleagues-wrapper button:focus,
.invite-colleagues-wrapper textarea:focus {
    box-shadow: 0px 0px 0px 1px #fff!important;
    border: 2px solid #663077!important;
}

#emails-area {
    width: 100%;
    border-radius: 10px;
    padding: 12px 14px;
    font-size: 1.125rem;
    transition: none;
    border: 2px solid #663077;
    -webkit-box-shadow: inset 4px 4px 3px 0px #dddddd;
    -moz-box-shadow: inset 4px 4px 3px 0px #dddddd;
    box-shadow: inset 4px 4px 3px 0px #dddddd;
}

#emails-area::placeholder {
    font-size: 1.05rem;
    line-height: 130%;
    color: #777;
}

#btn-send-invite-colleagues {
    position: relative;
    white-space: nowrap;
    padding: 10px 36px;
    font-size: 1.125rem;
    font-family: "Avenir-Medium";
    background-color: #f1f1f1;
    border: 1px solid;
    border-radius: 20px;
    color: #663077;
}

#form-invite-colleagues .send-message {
    display: none;
    width: 340px;
    position: absolute;
    margin-top: 10px;
    color: #fff;
    animation: slide-down 0.1s linear;
}

#form-invite-colleagues .send-rolling {
    display: none;
    position: absolute;
    width: 22px;
    top: 50%;
    transform: translateY(-52%);
    right: 8px;
}

#form-invite-colleagues .sending .send-rolling {
    display: block;
}

/* Form message */
.form-message {
    display: none;
    margin-bottom: 20px;
    padding: 10px 12px;
    width: fit-content;
    border: 1px solid #ddd;
    gap: 8px;
    font-size: 1.125rem;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.form-message._success {
    border-left: 5px solid green;
}

.form-message._warning {
    border-left: 5px solid orange;
}

.form-message._warning .icon-checked,
.form-message._error .icon-checked{
    display: none;
}

.form-message._error {
    border-left: 5px solid #C00000;
}

.form-message .icon-checked {
    margin-right: 4px;
    color: green;
}

/* Stepper Form Css Starts Here */
.stepsWrap {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #C9C9C9;
}
.stepsWrap .step {
    margin-top: -1px;
    width: 10%;
    background-color: #ffffff;
    padding: 20px 24px;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #C9C9C9;
    border-left: 0;
}
.stepsWrap .step .title {
    white-space: nowrap;
}
.stepsWrap .step .editImg {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #a22f2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px 0;
}
.stepsWrap .step .completedImg {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px 0;
}
.stepsWrap .step .pendingImg {
    display: none;
    max-width: 60px;
    opacity: 0.7;
}
.stepsWrap .step.pending {
    background-color: #bbb;
}
.stepsWrap .step.pending .editImg {
    display: none;
}
.stepsWrap .step.pending .pendingImg {
    display: block;
}
.stepsWrap .step.completed {
    background: #b1b1b1;
    border: none;
}
.stepsWrap .step.active {
    background-color: #ccc!important;
    border: 1px solid #444!important;
    box-shadow: inset 0px 0px 0px 1px #444!important;
}
.stepsWrap .step .completedImg {
    display: none;
}
.stepsWrap .step.completed .editImg {
    display: none;
}
.stepsWrap .step.completed .completedImg {
    display: flex;
}
.stepsWrap .step:not(:last-child) {
    border-right: 1px solid #c9c9c9;
}

.quiz {
    display: none;
    position: relative;
    background-color: #fff;
}
.quiz.active {
    display: block;
}

.quizTitle {
    background-color: #d8d8d8;
    font-size: 1.625rem;
    font-weight: 600;
    color: #3d3d3d;
    padding: 25px 16px;
    font-family: "Avenir-Heavy";
}

#form_submit_quiz.loading {
    opacity: 0.5;
}

.loading-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.form-spinner {
    margin: auto;
    width: 120px;
}

.loading .loading-overlay {
    display: flex;
}

.group-question .fieldDetails {
    margin: 0 0 16px;
    padding-top: 30px;
    border-top: 1px dashed #bbb;
}

.group-question .fieldsWrapper.sub-quiz-1 .fieldDetails {
    border: none;
}

.fieldDetails .question-description > * {
    font-size: 1.2rem;
    line-height: 130%;
    font-family: "Avenir-Medium";
}
.fieldDetails .question-description {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 130%;
    font-family: "Avenir-Medium";
}
.fieldDetails .question-description ul {
    margin: 12px 0 20px 30px;
    list-style: disc;
}
.fieldDetails .question-description ol {
    margin: 0 0 30px 30px;
    list-style: decimal;
}
.fieldDetails .question-description ul li {
    list-style-type: disc;
}
.fieldDetails .question-description ol li {
    list-style-type: decimal;
}
.fieldDetails .question-description li {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 10px;
}
.fieldDetails .question-description strong * {
    font-weight: 700;
    font-family: "Avenir-Heavy";
}
.fieldDetails .question-description a {
    color: #6e297b;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.fieldsWrapper {
    padding: 0 80px 50px;
}

.fieldDetails {
    margin: 40px 0 16px;
}

.fieldDetails .sub-quiz-title {
    width: fit-content;
    margin-bottom: 8px;
}

.fieldDetails p {
    font-size: 1.125rem;
    line-height: 125%;
    font-weight: normal;
    color: #212529;
    margin-bottom: 14px;
}

.fieldsWrapper .checkBox {
    position: relative;
    margin-bottom: 12px;
}

.fieldsWrapper .checkBox input[type="checkbox"] {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 0;
}

.fieldsWrapper .checkBox label {
    width: 100%;
    background: #dee0e0;
    margin-left: 0;
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    opacity: 1;
    cursor: pointer;
    text-transform: unset;
    font-family: "Avenir-Medium";
}

.answer-tooltip {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translate(-50%, 100%);
    background-color: #444;
    color: #fff;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1;
    padding: 6px 8px;
    padding-bottom: 4px;
    border-radius: 4px;
    z-index: 10;
    transition: all 0.3s;
}

.answer-tooltip::before {
    top: -4px;
    transform: translateY(-50%);
    left: 50%;
    content: "";
    display: block;
    position: absolute;
    border-color: transparent transparent #444 transparent;
    border-style: solid;
    border-width: 4px 6px 6px;
}

.fieldsWrapper .checkBox label:hover .answer-tooltip,
.fieldsWrapper .checkBox input.form-check-input:focus+label .answer-tooltip {
    display: block;
}

.fieldsWrapper .checkBox label.required {
    border: 1px solid #ff0000;
}

.fieldsWrapper .checkBox label::before {
    content: "●";
    margin: 0 6px 0 -12px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.fieldsWrapper .checkBox label::after {
    opacity: 0;
}

.fieldsWrapper .checkBox input.form-check-input {
    opacity: 0!important;
}

.fieldsWrapper .checkBox input.form-check-input:focus+label {
    border: 1px solid #333;
}

.fieldsWrapper .checkBox input.form-check-input:checked+label {
    background-color: #ffc151;
}

.textAreaWrap {
    width: 100%;
    margin-top: 30px;
}

.textAreaWrap label {
    color: #212529;
    font-size: 1.15rem;
    text-transform: none;
    margin-bottom: 4px;
    font-family: "Avenir-Medium";
    opacity: 1;
}

.textAreaWrap textarea {
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    font-size: 1.125rem;
    line-height: 150%;
    border: 1px solid #979797;
    background-color: #f8f8f8;
    box-shadow: inset 3px 3px 5px 0px #eaeaea;
    transition: none;
}

.textAreaWrap textarea.required {
    border: 2px solid #ff0000;
}

.textAreaWrap textarea::placeholder {
    color: #333;
}

.textAreaWrap textarea:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 2px #333!important;
}

.quizAdvice {
    margin-top: 30px;
    background: #d8d9d9;
    padding: 24px 80px 30px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.3;
    position: relative;
}
.quizAdvice.feedback-area {
    overflow-y: auto;
    max-height: 500px;
    background-color: #e8e8e8;
}
.quizAdvice.feedback-area.expand {
    max-height: 100%;
}
.quizAdvice .advice-area > *:first-child {
    margin-top: 0;
}
.quizAdvice .advice-area > *:last-child {
    margin-bottom: 0;
}
.quizAdvice .advice-area {
    line-height: 140%;
}
.quizAdvice .advice-area p{
    margin: 14px 0;
}
.quizAdvice .advice-area ul{
    margin-left: 20px;
    list-style: disc;
}
.quizAdvice .advice-area ul li{
    list-style-type: disc;
    line-height: 130%;
    margin: 12px 0;
}
.quizAdvice .advice-area ol{
    margin-left: 20px;
    list-style: decimal;
}
.quizAdvice .advice-area ol li{
    list-style-type: decimal;
    line-height: 130%;
    margin: 14px 0;
}
.quizAdvice .advice-area a {
    color: #6e297b;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.quizAdvice .icon-info {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: 40px;
    top: 22px;
    font-size: 26px;
    color: #424242;
}

.quizAdvice > p {
    margin-bottom: 20px;
    font-family: "Avenir-Heavy";
}

/* style Feedbacks area */

.feedback-list .feedback-item {
    margin-bottom: 20px;
    border-bottom: 1px dashed #999;
}

.feedback-list .feedback-item:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.feedback-item ._info {
    margin-bottom: 12px;
}

.feedback-item ._info .author {
    text-decoration: underline;
    font-size: 1rem;
}

.feedback-item ._info .datetime {
    font-size: 0.925rem;
}

.feedback-item ._content {
    margin-left: 16px;
    line-height: 140%;
    white-space: pre-wrap;
    font-size: 1rem;
}
.feedback-item ._content:last-child  {
    margin-bottom: 0;
}
.feedback-item ._content * {
    margin-bottom: 12px;
    font-size: 1rem;
}
.feedback-item ._content h1 {
    font-size: 1.5rem;
}
.feedback-item ._content h2 {
    font-size: 1.4rem;
}
.feedback-item ._content h3 {
    font-size: 1.3rem;
}
.feedback-item ._content h4 {
    font-size: 1.2rem;
}
.feedback-item ._content h5 {
    font-size: 1.1rem;
}
.feedback-item ._content h6 {
    font-size: 1rem;
}
.feedback-item ._content ul {
    list-style: disc;
    margin-left: 30px;
}
.feedback-item ._content a {
    color: #663077;
}
.feedback-area-toggle {
    margin-top: 16px;
    text-align: center;
}
.feedback-area-toggle .btn-toggle-feedback {
    margin: auto;
    width: fit-content;
    font-size: 1rem;
    font-family: "Avenir-Medium";
    text-decoration: underline !important;
    text-underline-offset: 2px;
    color: #663077 !important;
}

/* .style Feedbacks area */

.fileUploaderWrap {
    width: fit-content;
    position: relative;
    margin-top: 40px;
}
.fileUploaderWrap input[type="file"] {
    border: none;
    max-width: 400px;
    width: 100% !important;
    background-color: #dfdfdf;
    border-radius: 8px;
    padding: 8px 20px;
}
.fileUploaderWrap .uploading-wrapper {
    display: none;
    top: -10px;
    right: -70px;
    position: absolute;
}
.fileUploaderWrap .uploading-wrapper img {
    width: 70px;
    height: 70px;
}
.fileInstruct {
    margin-top: 20px;
}

.formController {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 46px 24px 0;
    position: relative;
    text-align: center;
}
.formController button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: #ccc;
    background-color: #dfdfdf;
    border-radius: 8px;
    font-size: 1.125rem;
    color: #212529;
    padding: 14px 40px;
    transition: all 0.3s;
    font-family: "Avenir-Medium";
}
.formController button:hover {
    background-color: #5f5f5f;
    color: #f1f1f1;
}
.formController button .icon {
    font-size: 16px;
}
.formController .__center{
    display: flex;
    gap: 24px;
}
.formController button.primaryBtn {
    min-width: 240px;
}
.formController.disabled .primaryBtn{
    visibility: hidden;
}
.primaryBtn.loading {
    pointer-events: none !important;
}
.primaryBtn.loading .text {
    opacity: 0;
}
.primaryBtn.loading .wpa-spinner {
    display: block;
}
.formController button.nextPrevBtn {
    padding: 14px 32px;
    transition: all 0s;
}
.nextPrevBtn {
    visibility: hidden;
}
.nextPrevBtn.show {
    visibility: visible;
}
.formController.not-allowed button {
    opacity: 0.5;
    cursor: not-allowed;
}
.formController.not-allowed button:hover {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #dfdfdf;
    color: #212529;
}
.formController #saving-spinner {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 35%;
    left: unset;
    right: -82px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.formController #saving-spinner img {
    width: 70px;
    height: 70px;
}

.additional-files-area {
    margin: 30px 0;
}

.additional-files-area .__label {
    font-family: "Avenir-Medium";
    font-size: 1.25rem;
}

.additional-files-area .files-list .file-item {
    font-size: 1rem;
    line-height: 130%;
    margin: 10px 0;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.files-list .file-item a {
    color: #A22F2C;
    font-family: "Avenir-Medium";
    padding: 2px 6px;
}

.fieldsWrapper .question-add-files-container {
    margin: 30px 0;
}

.question-add-files-container .uploading-wrapper {
    display: none;
    position: absolute;
    top: 16px;
    max-width: 68px;
    left: 100px;
}

.question-add-files-container ._label {
    font-size: 1.25rem;
    text-transform: none;
    opacity: 1;
    color: #212529;
    font-weight: normal;
    font-family: "Avenir-Medium";
}
.question-add-files-container .additional-files {
    visibility: hidden;
    position: absolute;
}

.btn-add-files-wrapper {
    display: inline-block;
    width: fit-content;
    position: relative;
}

.btn-add-files-wrapper label {
    font-size: 1.125rem;
    text-transform: lowercase;
    color: #444;
    opacity: 1;
    cursor: pointer;
}
.btn-add-files-wrapper label * {
    font-family: "Avenir-Heavy";
}
.btn-add-files-wrapper label:hover {
    color: #004887;
}

.filesList {
    max-width: 600px;
    margin: auto;
}

.file-item{
    width: 100%;
	border-radius: 4px;
	background-color: #fff;
	margin-top: 8px;
    padding-right: 10px;
	color: initial;
	display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}
.file-item .fa-paperclip {
    font-size: 1rem;
    margin-right: 6px;
}
.file-item .icon-checked {
    color: green;
}
.file-item > .name{
    width: 100%;
    padding: 8px 12px;
    display: inline-flex;
    align-items: baseline;
    text-align: left;
    font-size: 1rem;
    line-height: 140%;
    color: #333;
    cursor: default;
    border: 2px solid #fff;
    border-radius: 4px;
    word-break: break-all;
}
.file-item > button.name {
    color: #0061A0;
    cursor: pointer;
    background-color: inherit!important;
}
.file-item > button.name:hover {
    text-decoration: none;
    color: #003d66;
}
.file-item .file-delete{
    padding: 4px;
    margin-left: 10px;
	display: flex;
	color: #0061A0;
	cursor: pointer;
    border: none;
    background-color: inherit;
}
.file-item .file-delete:hover {
    color: #c32e2e;
}
.file-item .file-delete:focus {
    border: none!important;
    background-color: inherit;
    box-shadow: 0px 0px 0px 2px #65a3ff!important;
}
.file-item .datetime {
    margin-left: 16px;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.upload-files-top {
    display: flex;
    align-items: start;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

.btn-open-upload-area {
    display: inline-block;
    width: fit-content;
    margin-right: 8px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    border: 1px solid #888;
    border-radius: 4px;
    text-transform: none;
    opacity: 1;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 3px;
    font-family: 'Avenir-Medium';
}
.btn-open-upload-area:hover {
    background-color: #ececec;
}
.btn-open-upload-area::after {
    content: "";
    border-color: #767676 transparent transparent transparent;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    position: relative;
    right: -4px;
}
.btn-open-upload-area:focus {
    background-color: #fafafa!important;
}

.upload-message {
    display: none;
    margin-bottom: 10px;
    max-width: 700px;
    margin-left: 20px;
    padding: 6px 14px;
    font-size: 1rem;
    line-height: 130%;
    border: 1px solid #ddd;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.upload-message  p {
    font-size: 1rem;
    line-height: 130%;
}

.upload-message i {
    color: #C00000;
    font-size: 1.125rem;
    margin-right: 6px;
}

.upload-message .file-name {
    color: #C00000;
    font-size: 0.9rem;
}

.upload-message .remove-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}

.remove-message i {
    margin-right: 0;
    font-size: 1.125rem;
    color: #444;
}

.upload-message._success {
    border-left: 4px solid #00a32a;
}

.upload-message._error {
    border-left: 4px solid #C00000;
}

.drop-files-area {
    display: none;
    margin-top: 24px;
    max-width: 600px;
    margin: auto;
}

.drop-files-area > p {
    font-size: 0.975rem;
}

.dropFiles {
    position: relative;
    margin: 8px auto;
    padding: 32px;
    width: 100%;
    border: 2px #616267 dashed; 
    text-align: center;
    font-size: 1.25rem;
    border-radius: 8px;
    font-size: 1.125rem;
    box-shadow: inset 0px 0px 10px 0px #ccc;
}

.dropFiles .spinner-upload {
    display: none;
    visibility: visible!important;
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropFiles .icon-upload {
    margin-bottom: 8px;
}

.dropFiles .icon-upload img {
    width: 50px;
}

.highlightDropArea {
    border: 3px #004887 dashed;
    background-color: #F2f2f2;
}

.highlightDropArea > * {
    visibility: hidden;
}

.uploading {
    background-color: #f2f2f2;
}

.uploading > *{
    visibility: hidden;
}

.dropFiles.highlightDropArea:after {
    content: "+";
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropFiles.uploading:after {
    display: none;
}

.answer-notification {
    display: none;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    color: #C00000;
}

.answer-notification p {
    text-align: center;
}

/* Report */
body.single-reports {
    background-color: #fff;
}

.report-content-wrapper {
    max-width: 860px;
    margin: auto;
    margin-bottom: 60px;
}

.report-content-wrapper .report-intro {
    text-align: center;
    margin-bottom: 100px;
}

.report-intro .logo-box {
    width: 100%;
}

.report-intro img.logo {
    width: 100%;
    max-width: 300px;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.report-intro .organisation {
    margin-bottom: 80px;
    font-size: 2rem;
}

.report-intro .assessment-title {
    margin-bottom: 50px;
    font-size: 3rem;
}

.year {
    border-bottom: 2px solid #444;
    padding-bottom: 60px;
}

.report-content-wrapper h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.report-content-wrapper h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.report-content-wrapper p {
    margin-bottom: 1rem;
}

.report-content-wrapper ul {
    list-style-type: disc;
    margin: 0 0 2rem 2rem;
}

.report-content-wrapper ol {
    list-style-type: decimal;
    margin: 0 0 2rem 2rem;
}

.report-content-wrapper ul li {
    list-style-type: disc;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    line-height: 140%;
}

.report-content-wrapper ol li {
    list-style-type: decimal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    line-height: 140%;
}

.report-content-wrapper table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.report-content-wrapper table td:first-of-type {
    padding: 12px 15px;
}


.report-content-wrapper table th {
    padding: 12px 15px;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-right: 1px solid #00876b;
}

.report-content-wrapper table td {
    padding: 12px 15px;
    border-right: 1px solid #ddd;
}

.report-content-wrapper table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.report-content-wrapper table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.report-content-wrapper table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.report-content-wrapper table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* .Report */

/* Submission */
.submission-success-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 180px;
}
.submission-success-wrapper .submission-content {
    width: 100%;
}
.submission-success-wrapper .submission-content > *:last-child {
    margin-bottom: 0;
}
.submission-success-wrapper .submission-content h1 {
    margin-bottom: 52px;
}
.submission-success-wrapper .submission-content h2,
.submission-success-wrapper .submission-content h3,
.submission-success-wrapper .submission-content h4,
.submission-success-wrapper .submission-content h5 {
    margin-bottom: 24px;
}
.submission-success-wrapper .submission-content p {
    margin-bottom: 14px;
}
.submission-success-wrapper .submission-content a {
    width: fit-content;
    font-size: 1.125rem;
    text-decoration: underline;
    margin-bottom: 16px;
    font-family: "Avenir-Medium";
}

.submission-content ul {
    list-style: disc;
    margin: 0 0 10px 20px;
}

.submission-content ul li {
    list-style-type: disc;
    margin-bottom: 16px;
    font-size: 1.125rem;
}

.quiz-invalid-answer .item-quiz {
    border: 1px solid #ddd;
    padding: 2px 5px 0;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f1f1f1;
}

.submission-success-wrapper .submission-content #printEntry {
    display: block;
    width: fit-content;
    margin-top: 32px;
    padding: 10px 40px;
    background-color: #663077;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    transition: all 0.3s;
}

.submission-success-wrapper .submission-content #printEntry:hover {
    background-color: #a22f2c;
}

.submission-success-wrapper .sidebar {
    width: 100%;
    max-width: 320px;
}

.submission-success-wrapper .sidebar .inner {
    padding: 28px 16px;
    background-color: #fff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.08);
    left: initial !important;
}

.submission-success-wrapper .sidebar .inner .heading {
    margin-bottom: 18px;
    font-family: "Avenir-Medium";
    font-size: 1.5rem;
    line-height: 130%;
}

.submission-success-wrapper .sidebar ul > *:last-child {
    padding-bottom: 16px;
    border-bottom: 1px solid #dfdfdf !important;
}

.submission-success-wrapper .sidebar a {
    display: flex;
    align-items: center;
}

.submission-success-wrapper .sidebar a:hover {
    text-decoration: none;
}

.material-icons {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media only screen and (max-width: 1366px) {
    .submission-success-wrapper {
        gap: 80px;
    }
}
@media only screen and (max-width: 991px) {
    .submission-success-wrapper {
        flex-wrap: wrap;
        gap: 50px;
    }
    .submission-success-wrapper .submission-content h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .submission-success-wrapper .sidebar {
        max-width: 400px;
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 767px) {
    .submission-success-wrapper {
        margin-top: 32px;
        margin-bottom: 40px;
        gap: 32px;
    }
    .submission-success-wrapper .sidebar {
        max-width: 100%;
    }
    .submission-success-wrapper .submission-content h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }
}
/* /Submission */

/* Previous comments */
.pre-comments {
    margin-top: 20px;
}
.comment {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
    padding: 10px 12px 10px;
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    line-height: 140%;
}
.comment ._datetime {
    width: 100%;
    margin-bottom: 8px;
    display: block;
    font-size: 0.9rem;
    line-height: 1;
    opacity: 0.8;
}
.comment ._content {
    width: 100%;
    white-space: pre-wrap;
}
.comment.show_less ._content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.comment ._content .show_full {
    display: none;
}
.comment .btn-showmore-cmt {
    width: fit-content;
    font-size: 15px;
    color: #663077!important;
    text-decoration: underline!important;
    text-underline-offset: 2px;
}

.access-exprired {
    text-align: center;
    margin-top: 24px;
    color: red;
}

/* Spinner Circle Rotation */
.spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wpa-spinner {
    display: none;
    width: 30px;
    height: 30px;
    clear: both;
    border: 3px #fff solid;
    border-top: 3px #999 solid;
    border-radius: 50%;
    -webkit-animation: spinnerCircleRotate .6s infinite linear;
    animation: spinnerCircleRotate .6s infinite linear;
}

@keyframes spinnerCircleRotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

@keyframes slide-down {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;	
	}
}

/* ----------------- Responsive ----------------- */

@media only screen and (max-width:1920px) {}

@media only screen and (max-width:1600px) {}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1366px) {}

@media only screen and (max-width:1280px) {}

@media only screen and (max-width:1200px) {
    .single-assessments .breadcrumbs-top {
        margin-bottom: 42px;
    }
    .formWrapper .topBar {
        margin-bottom: 32px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .single-assessments .breadcrumbs-top {
        margin-bottom: 32px;
    }
    .topBar h1 {
        font-size: 40px;
    }
    .stepsWrap {
        overflow-x: auto;
    }
    .stepsWrap .step {
        min-width: 122px;
        width: 122px;
    }
    .fieldsWrapper {
        padding: 0 80px 50px;
    }
}

@media only screen and (max-width:991px) {
    .fieldsWrapper .checkBox label {
        font-size: 1rem;
    }
    .form-spinner {
        width: 100px;
    }
    .invite-colleagues-wrapper {
        padding: 70px 40px;
    }
    #form-invite-colleagues {
        flex-wrap: wrap;
        gap: 16px;
    }
    #emails-area {
        font-size: 1rem;
    }
}

@media only screen and (max-width:767px) {
    .topBar h1 {
        font-size: 32px;
    }
    .topBar .topbar-action {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .topBar .progressBtn {
        margin-left: 0;
        padding: 12px 30px;
        font-size: 1rem;
    }
    .form-spinner {
        width: 80px;
    }
    .formWrapper {
        padding-bottom: 40px;
    }
    .formWrapper .notificationBar {
        padding: 14px;
    }
    .stepsWrap .step {
        min-width: auto;
        width: auto;
        padding: 8px 12px;
    }
    .stepsWrap .step .completedImg,
    .stepsWrap .step .editImg {
        width: 34px;
        height: 34px;
    }
    .stepsWrap .step .editImg img,
    .stepsWrap .step .completedImg img {
        width: 20px;
    }
    .fieldsWrapper {
        padding: 0 24px 24px;
    }
    .fieldDetails {
        margin-top: 16px;
    }
    .fieldDetails .question-description > * {
        font-size: 1rem;
    }
    .fieldDetails .question-description ul li,
    .fieldDetails .question-description ol li {
        font-size: 1rem;
    }
    .quizAdvice p {
        font-size: 16px;
    }
    .quizTitle {
        font-size: 20px;
        padding: 16px;
    }
    .fieldsWrapper .checkBox {
        margin-bottom: 16px;
    }
    .textAreaWrap {
        margin-top: 24px;
    }
    .textAreaWrap label {
        font-size: 1rem;
    }
    .textAreaWrap textarea {
        height: 140px;
        font-size: 1rem;
    }
    .question-add-files-container ._label {
        font-size: 1.125rem;
    }
    .progressBtn,
    button {
        font-size: 1rem;
        padding: 16px 24px;
        text-align: center;
    }
    .quizAdvice {
        padding: 24px 24px 24px 50px;
    }
    .quizAdvice .icon-info {
        left: 16px;
        font-size: 24px;
    }
    .quizAdvice .advice-area ul li,
    .quizAdvice .advice-area ol li {
        font-size: 1rem;
        margin: 12px 0;
    }
    .formController {
        margin: 30px 0 0 0;
        flex-wrap: wrap;
        gap: 0;
    }
    .formController button {
        margin: 0 10px;
        padding: 12px 40px;
        font-size: 1rem;
    }
    .formController button.primaryBtn {
        min-width: auto;
    }
    .formController button.nextPrevBtn {
        padding: 12px 24px;
    }
    .btn-open-upload-area {
        font-size: 0.925rem;
    }
}

@media only screen and (max-width:575px) {
    .formController {
        margin-top: 28px;
    }
    .formController button {
        margin: 10px;
    }
    .fieldDetails {
        margin: 24px 0 16px;
    }
}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:385px) {}
