/* Saturn - Report PDF Stylesheet */
* {
    font-family: avenir-roman;
    line-height: 150%;
    letter-spacing: 0.3px!important;
}

h1 {
    font-size: 20pt;
    font-family: avenir-heavy;
    font-weight: 900;
}
h2 {
    font-size: 16pt;
    font-family: avenir-medium;
    font-weight: 800;
}
h3 {
    font-size: 15pt;
    font-family: avenir-medium;
    font-weight: 800;
}
h4 {
    font-size: 14pt;
    font-family: avenir-medium;
    font-weight: 800;
}
h5 {
    font-size: 13pt;
    font-family: avenir-medium;
    font-weight: 800;
}
h6 {
    font-size: 12pt;
    font-family: avenir-medium;
    font-weight: 800;
}

p, li {
    font-family: avenir-roman;
    font-weight: 400;
    font-size: 11pt;
    line-height: 150%;
    letter-spacing: 0.3px!important;
}

table th {
    font-size: 11pt;
    font-family: avenir-medium;
    font-weight: 800;
}

table td {
    font-size: 11pt;
    font-family: avenir-roman;
    font-weight: 400;
}

ul li, ol li {
    margin-bottom: 10px;
}

a {
    font-family: avenir-roman;
    text-decoration: none!important;
}

span {
    font-family: avenir-roman;
    font-weight: 400;
}

strong, b {
    font-family: avenir-medium;
    font-weight: 800;
}

div {
    font-size: 11pt;
    line-height: 150%;
    font-family: avenir-roman;
    font-weight: 400;
}

.mpdf_toc span {
    font-family: avenir-medium;
    font-weight: 800;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: top;
    background-position-x: 270px;
    background-position-y: 300px;
    background-repeat: no-repeat;
    letter-spacing: 0.3px!important;
}

.page img {
    margin: auto;
}

.shape {
    position: absolute;
    margin-top: -400px;
    margin-right: -400px;
    top: 0;
    z-index: -10;
}

.page.front-page {
    padding-top: 100px;
    border: none;
}

.front-page .intro{
    text-align: center;
    margin: 60px 0;
    padding: 6px 0;
    border-top: 0.5px solid #222;
    border-bottom: 0.5px solid #222;
}

.front-page .intro .org-name {
    margin-top: 0;
    padding: 0;
    font-size: 20px;
}

.front-page .intro .title{
    margin: 40px auto;
    font-size: 20px;
}

.front-page .intro .year {
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
}

.footer {
    width: 100%;
}

.footer a {
    text-decoration: none;
}

.footer .hypelinks-list a {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    margin-top: 16px;
    text-align: left;
    font-size: 11pt;
    font-style: italic;
}

table.recom-table {
    border: 1px solid #333;
}

table.recom-table tr:nth-child(even) td {
    background-color: white!important;
}

table.recom-table th {
    margin: 0;
    padding: 6px 10px;
    text-align: left;
    border: 1px solid #333;
}

table.recom-table th:last-child {
    border-left: none!important;
}

table.recom-table td {
    margin: 0;
    padding: 16px 10px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}

table.recom-table td:last-child {
    border-right: 1px solid #333!important;
}

table.recom-table ul p {
    margin-bottom: 16px;
}

table.table-3 th {
    padding: 0 10px 16px;
    width: 20%;
    text-align: left;
    padding-top: 0;
    vertical-align: text-top;
    line-height: 140%;
}

table.table-3 td {
    padding: 10px 10px 30px;
    border: 1px solid #98c2ff;
    border-left: none;
    text-align: right;
}

table.table-3 td:first-child {
    text-align: right;
    border-bottom: none;
    background-color: none;
}

table.table-5 th {
    padding: 10px 10px 20px 0;
    text-align: right;
    line-height: 150%;
}

table.table-5 td {
    padding: 10px 10px 20px 0;
    text-align: right;
    border: 1px solid #98c2ff;
    border-left: none;
}

table tr:nth-child(even) td {
    background-color: aliceblue!important;
}

img.chart {
    margin: auto;
    width: 100%;
    max-width: 100%;
}

.recommendations-table {
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}

.recommendations-table .col {
    padding: 10px;
    border-top: 1px solid #333;
}

.generic-page table {
    margin: 16px 0;
    border-left: 1px solid #333;
}

.generic-page table th {
    padding: 16px;
    line-height: 140%;
    border: none;
    background: none;
}

.generic-page table td {
    padding: 14px 16px;
    border: 1px solid #333;
    border-left: none;
    text-align: left;
    line-height: 140%;
}
